<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercise Tracker</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_previousWorkouts.css">
    <script type="text/javascript" src="scriptMenu.js"></script>
    <script type="text/javascript" src="scriptPastWorkouts.js"></script>
</head>
<body>
    <section id="workouts">
        <header>
            <div class="title">Previous Workouts</div>
            <div class="menu-container hidden">
                <section class="navigation-item" onclick="window.location = '/create-workout'">
                    <img src="/images/logos/workout_bright.png" class="logo">
                    <div>New</div>
                </section>
                <section class="navigation-item" onclick="window.location = '/'">
                    <img src="/images/logos/house_bright.png" class="logo">
                    <div>Home</div>
                </section>
                <section class="navigation-item" onclick="window.location = '/muscle-status'">
                    <img src="/images/logos/stats_bright.png" class="logo">
                    <div>Stats</div>
                </section>
            </div>
            <div class="menu-opener" defaultColor="var(--rSecondary)" onclick="toggleMenu(this.parentNode, this)"></div>
        </header>

        <div class="content">
            <ul id="workout-list">
                <span style="color: var(--secondary);">LOADING...</span>
            </ul>
        </div>
    </section>

    <section id="details" class="hidden">
        <header>
            <div id="details-name" class="title"></div>
            <div class="menu-opener" onclick="toggleModal(document.getElementById('options-modal'))"></div>

            <div class="arrow" onclick="toggleDetails()">&#x25c0;</div>
        </header>
        <div class="tab-container">
            <div class="tab" id="tab-overview" onclick="changeDetailsTab('overview')" active="false">Overview</div>
            <div class="tab" id="tab-exercises" onclick="changeDetailsTab('exercises')" active="false">Exercises</div>
            <div class="tab" id="tab-stats" onclick="changeDetailsTab('stats')" active="false">Stats</div>
        </div>

        <div class="content info-container" id="details-content" activeTab="none"></div>

        <div class="hidden" id="details-overview">
            <div class="info-box" id="details-overview-summary"></div>
            
            <div class="info-box" id="details-overview-exercises">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Reps</th>
                            <th>Weight</th>
                            <th>Fatigue</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>

            <div class="info-box" id="details-overview-muscles">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Muscle</th>
                            <th>Score</th>
                            <th>Focus Level</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="hidden" id="details-exercises">
            <div class="info-box">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Reps</th>
                            <th>Weight</th>
                            <th>Fatigue</th>
                            <th>Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>


        <div class="hidden" id="details-stats">
            <div class="info-box">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Stat</th>
                            <th>Value</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal hidden" id="options-modal">
            <div class="modal-option-container">
                <div class="modal-option" id="option-edit"><p>Edit</p></div>
                <div class="modal-option" id="option-delete"><p style="color: red;">Delete</p></div>
            </div>
            <div class="modal-cancel" onclick="toggleModal(document.getElementById('options-modal'))"><p>Cancel</p></div>
        </div>
    </section>
</body>
</html>