<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercise Tracker</title>

    <link rel="stylesheet" href="style.css">
</head>
<body style='background-image: url("/images/background.webp");display: flex; justify-content: space-around;'>
    <!-- <div class="container">
        <ul>
            <li><a href="create-workout">Create New Workout</a></li>
            <li><a href="muscle-status">View Muscle Status</a></li>
            <li><a href="previous-workouts">View Previous Workouts</a></li>
        </ul>

    </div> -->
    <div class="home-portal">
        <!-- <h1 class="title">Exercise Tracker</h1> -->
        <!-- <img src="/images/home.webp" style="position: absolute; right: 0px;"> -->
        <img src="/images/logos/workout_bright.webp" alt="Create Workout" class="logo" style="right: calc(50% - 25px);top: 29%;transform: rotate(-20deg);" onclick="window.location = 'create-workout'">
        <img src="/images/logos/logs_bright.webp" alt="Previous Workouts" class="logo" style="right: 76.5%;top: 60.5%;" onclick="window.location = 'previous-workouts'">
        <img src="/images/logos/stats_bright.webp" alt="Muscle Status" class="logo" style="right: 10%;top: 60.5%;" onclick="window.location = 'muscle-status'">
    </div>

    <script>
        document.getElementsByTagName("body")[0].style.backgroundPosition = Math.round(Math.random() * 100) + "% " + Math.round(Math.random() * 100) + "%";
    </script>
</body>
</html>