<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercise Tracker</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_muscleScores.css">

    <script src="scriptMenu.js"></script>

    <script src="scriptMuscleStatus.js"></script>
    <script src="sorttable.js"></script>
</head>
<body>
    <header>
        <div class="title">Muscle Stats</div>
        <div class="menu-container hidden">
            <div class="navigation-item" onclick="window.location = '/create-workout'">
                <img src="/images/logos/workout_bright.webp" alt="Create Workout" class="logo">
                <div>New</div>
            </div>
            <div class="navigation-item" onclick="window.location = '/'">
                <img src="/images/logos/house_bright.webp" alt="Home" class="logo">
                <div>Home</div>
            </div>
            <div class="navigation-item" onclick="window.location = '/previous-workouts'">
                <img src="/images/logos/logs_bright.webp" alt="Previous Workouts" class="logo">
                <div>Logs</div>
            </div>
        </div>
        <div class="menu-opener" data-defaultColor="var(--pSecondary)" onclick="toggleMenu(this.parentNode, this)"></div>
    </header>

    <main>
        <table class="sortable" id="muscle-status-table">
            <thead>
                <tr>
                    <th style="width: 25%;">Muscle</th>
                    <th style="width: 25%;">Score</th>
                    <th style="width: 50%;">Bar %</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </main>
</body>
</html>