<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercise Tracker</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_previousWorkouts.css">
    <script src="scriptMenu.js"></script>
    <script src="scriptPastWorkouts.js"></script>
</head>
<body>
    <div id="workouts">
        <header>
            <h2 class="title">Previous Workouts</h2>
            <div class="menu-container hidden">
                <div class="navigation-item" onclick="window.location = '/create-workout'">
                    <img src="/images/logos/workout_bright.webp" alt="Create Workout" class="logo">
                    <div>New</div>
                </div>
                <div class="navigation-item" onclick="window.location = '/'">
                    <img src="/images/logos/house_bright.webp" alt="Home" class="logo">
                    <div>Home</div>
                </div>
                <div class="navigation-item" onclick="window.location = '/muscle-status'">
                    <img src="/images/logos/stats_bright.webp" alt="Muscle Stats" class="logo">
                    <div>Stats</div>
                </div>
            </div>
            <div class="menu-opener" data-defaultColor="var(--rSecondary)" onclick="toggleMenu(this.parentNode, this)"></div>
        </header>

        <main>
            <ul id="workout-list">
                <li style="color: var(--secondary);">LOADING...</li>
            </ul>
        </main>
    </div>

    <div id="details" class="hidden">
        <header>
            <h3 id="details-name" class="title" style="font-size: 1rem;"></h3>
            <div class="menu-opener" onclick="toggleModal(document.getElementById('options-modal'))"></div>

            <div class="arrow" onclick="toggleDetails()">&#x25c0;</div>
        </header>
        <div class="tab-container">
            <div class="tab" id="tab-overview" onclick="changeDetailsTab('overview')" data-active="false">Overview</div>
            <div class="tab" id="tab-exercises" onclick="changeDetailsTab('exercises')" data-active="false">Exercises</div>
            <div class="tab" id="tab-stats" onclick="changeDetailsTab('stats')" data-active="false">Stats</div>
        </div>

        <main class="info-container" id="details-content" data-activeTab="none"></main>

        <div class="hidden" id="details-overview">
            <div class="info-box" id="details-overview-summary"></div>
            
            <div class="info-box" id="details-overview-exercises">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Reps</th>
                            <th>Weight</th>
                            <th>Fatigue</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>

            <div class="info-box" id="details-overview-muscles">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Muscle</th>
                            <th>Score</th>
                            <th>Focus Level</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="hidden" id="details-exercises">
            <div class="info-box">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Reps</th>
                            <th>Weight</th>
                            <th>Fatigue</th>
                            <th>Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>


        <div class="hidden" id="details-stats">
            <div class="info-box">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Stat</th>
                            <th>Value</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal hidden" id="options-modal">
            <div class="modal-option-container">
                <div class="modal-option" id="option-edit"><p>Edit</p></div>
                <div class="modal-option" id="option-delete"><p style="color: red;">Delete</p></div>
            </div>
            <div class="modal-cancel" onclick="toggleModal(document.getElementById('options-modal'))"><p>Cancel</p></div>
        </div>
    </div>
</body>
</html>