<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercise Tracker</title>

    <link rel="stylesheet" href="style.css">

    <script type="text/javascript" src="scriptMuscleStatus.js"></script>
    <script type="text/javascript" src="sorttable.js"></script>
</head>
<body>
    <div class="container">
        <h1>Muscle Status</h1>

        <table class="sortable" id="muscle-status-table">
            <thead>
                <tr>
                    <th>Muscle Name</th>
                    <th>Score</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

        <footer><a href="/">Home (Cancel workout)</a></footer>
    </div>
</body>
</html>