/*

CONTIANS
    - root, colours, etc.
    - body
    - content
    - header
    - index-css
    - logos
    - navigation
    - gen. input, button
    - "hidden"-class

    - #selectedExercise:before (!should be moved)
*/


:root {
    /* -- COLOURS -- (r: red, g: green, p: purple)*/
    --background: #222426;
    --background-secondary: #202025;
    --background-lighter: #2A2A30;
    --secondary: #c4c4cc;

    --rPrimary: #D91A3D;
    --rSecondary: #F2798F;
    --gPrimary: #618C03;
    --gSecondary: #A7F205;
    --pPrimary: #44238C;
    --pSecondary: #5F3DD9;

    font-size: 4vw;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    margin: 0;
/*    background-blend-mode: lighten;*/
}

main {
/*    background-color: var(--background-secondary);*/
    position: relative;
    width: 100%;
    height: 90%;
    top: 3rem;
/*    background-color: green;*/
/*    padding-top: 1%;*/
}

table {
    overflow-y: scroll;
    width: 100%;
    border-collapse: collapse;
}

th {
    color: var(--secondary);
    font-size: 1.1rem;
}

td {
    color: var(--secondary);
    opacity: 0.8;
}

tr:nth-child(even) {
    background-color: var(--background-secondary);
}

header {
    position: fixed;
    height: 3rem;
    width: 100%;
    top: 0px;
    background-color: var(--background-secondary);

    font-size: 1.1rem;
    color: var(--secondary);
    z-index: 100;

/*    padding: 0px 5px 0 5px;*/
/*    margin-bottom: 8%;*/

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title {
    color: var(--secondary);
    text-align: center;
    align-content: center;

    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 5%;
}


.menu-opener {
    all: unset;

    position: absolute;
    cursor: pointer;
}
.menu-opener:after {
    content: '\2807';
    font-size: 2rem;
}

header > .menu-opener {
    right: 1%;
    top: 15%;
}

.menu-setting {
    all: unset;

    position: absolute;
    cursor: pointer;
}
.menu-setting:after {
    content: '\2699';
    font-size: 2rem;
}

.menu-setting:hover {
    animation: whir 1s ease;
    transform-origin: center;
}

@keyframes whir {
    from {transform: rotate(0)}
    to {transform: rotate(90deg)}
}

header > .menu-setting {
    right: 2%;
    top: 12%;
}



.menu-close {
    all: unset;

    position: absolute;
    cursor: pointer;
}
.menu-close:after {
    content: '\00d7';
    font-size: 2.5rem;
}

header > .menu-close {
    left: 2%;
    top: 5%;
}


.arrow {
    color: var(--secondary);
    position: absolute;
}

header > .arrow {
    left: 1%;
    top: 5%;
}

.menu-container {
    position: absolute;
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.menu-container:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 90vh;
    background-color: black;
    bottom: 0;
    left: 0;
    z-index: 10;
}*/

.navigation-item {
    height: 100%;
/*    margin: 0px 10%;*/

    text-align: center;
    align-content: center;
}

.navigation-item > .logo {
    position: relative;
    height: 2rem;
    width: 2rem;

    margin-bottom: -5px;
}

.navigation-item > div {
    position: relative;
/*    bottom: -0.2em;*/
    font-size: 0.8rem;

    color: var(--secondary);
}


.modal {
    position: fixed;
/*    visibility: hidden;*/

    z-index: 1;
    left: 0;
    bottom: 0%;
    width: 96%;

    padding: 0 2%;
    padding-bottom: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;


    font-size: 1.25rem;
    text-align: center;

    color: dodgerblue;
}

/*.modal::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: blue;
    opacity: 0.1;
}*/

.modal-appear {
/*    visibility: visible;*/
    animation: appear 0.2s ease;
}

.modal-disappear {
/*    visibility: hidden;*/
    animation: disappear 0.6s ease;
}

/*.modal-appear {
    visibility: visible;
    animation: appear 0.5s;
}*/

@keyframes appear {
    from {bottom: -100%}
    to {bottom: 0}
}

@keyframes disappear {
    from {bottom: 0}
    to {bottom: -100%}
}


.modal-option-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 12px;

    background-color: var(--background-secondary);
}

.modal-option {
    width: 100%;
    height: 3em;

    border-bottom: 1px solid var(--secondary);
}

.modal-option:active {
    background-color: var(--background);
}

.modal-option:last-child {
    border-bottom: none;
}

.modal-cancel {
    margin-top: 2%;

    height: 3em;
    width: 100%;
    border-radius: 12px;

    font-weight: bold;

    background-color: var(--background-secondary);
    filter: brightness(0.9);
}

.modal-cancel:active {
    background-color: var(--background);
}




.tab-container {
    position: relative;
    width: 100%;
    height: 2em;
    top: 3rem;
/*    background-color: green;*/

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: scroll;

/*    margin-bottom: 5%;*/

    background-color: var(--background-secondary);
    padding-top: 10px;

    border-top: 1px solid var(--rSecondary);
/*    border-bottom: 1px solid var(--secondary);*/

    color: var(--rSecondary);
}

.tab {
/*    background-color: blue;*/
}

.tab[data-active~="true"] {
/*    background-color: yellow;*/
    border-bottom: 3px solid var(--rPrimary);
}

.info-container {
    background-color: var(--background);

    display: flex;
    flex-direction: column;

    height: 96%;
    width: 96%;

    padding: 2%;
}

.info-box {
    width: calc(100% - 20px);
    color: var(--secondary);

    background-color: var(--background-lighter);

    margin-top: 5%;
    padding: 10px;
    
    border-radius: 12px;
}

.info-box:first-child {
    margin-top: 0;
}

.info-box .title {
    font-size: 1.1rem;
    text-align: left;
    padding: 0px;
}

.info-content {
    font-size: 0.9rem;
}


.bar {
    width: 100%;
    height: 0.5rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--secondary);
}

.bar-fill {
    width: 0%;
    height: 100%;
    background-color: white;
}


.home-portal {
    background-image: url("/images/home.webp");
    background-repeat: no-repeat;
    
    /*max-width: 375px;
    max-height: 667px;*/
/*    margin: auto;*/

    width: 375px;
    height: 667px;

/*    transform: scale(1.0);*/

/*    background-color: blue;*/
    top: calc(50% - 375px);

    position: absolute;
}

.logo {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*footer.navigation {
    position: fixed;
    bottom: 0px;
    height: 8%;
    width: 100%;

    background-image: url("/images/background.png");

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}*/









input {
    margin: 5px 0;
    padding: 10px;
    width: calc(100% - 22px);
}

button {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.hidden {
    display: none;
}

#selectedExercise:empty::before {
    content: "Please select an exercise";
}





/* DESKTOP */
@media (min-width: 600px) { 
    :root {
        font-size: 28px;
    }

    .home-portal {
        transform: scale(1.5);
    }
}

/* LARGE DESKTOP */
@media (min-width: 1200px) { 
    .home-portal {
        transform: scale(1.5);
/*        margin-top: 5%;*/
    }
}