.title {
    color: var(--pSecondary);
}

header {
    color: var(--pSecondary);
}

.menu-opener { 
    color: var(--secondary);
}

table {
    overflow-y: scroll;
}

th {
    color: var(--pPrimary);
    font-size: 1.1rem;
}

td {
    color: var(--secondary);
    opacity: 0.8;
}

tr:nth-child(even) {
    background-color: var(--background-secondary);
}

.bar {
    border-color: var(--pPrimary);
}

.bar-fill {
    background-color: var(--pSecondary);
    transition: width 1.2s;
}