.title {
    color: var(--pSecondary);
}

header {
    color: var(--pSecondary);
}

.menu-opener { 
    color: var(--secondary);
}

th {
    color: var(--pPrimary);
}

.bar {
    border-color: var(--pPrimary);
}

.bar-fill {
    background-color: var(--pSecondary);
    transition: width 1.2s;
}